{% extends 'core/base.html' %} {% block content %}

<h2 class="text-center mt-4 mg-5">Areas De Trabajo</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha Creado</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for b in area_list %}
    <tr>
      <th>{{ b.name }}</th>
      <td>{{ b.creation_date }}</td>
      <td>
        <div class="d-flex justify-content-center">
          <a class="btn btn-secondary m-2" href="{% url 'area_detail' b.id %}">
            <i class="bi bi-eye"></i>
          </a>
          {% if request.user.is_staff %}
          <a class="btn btn-warning m-2" href="{% url 'area_edit' b.id %}">
            <i class="bi bi-pencil-square"></i>
          </a>
          <a class="btn btn-danger m-2" href="{% url 'area_deleted' b.id %}">
            <i class="bi bi-trash"></i>
          </a>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
