{% extends 'core/base.html' %} {% block content %}

<main class="contenedor">
  <h2 class="text-center mt-4 mg-5">Employees</h2>
  <div class="contenedor-employees">
    {% for b in employee_list %}
    <div class="employees">
      {% if b.avatar %}
      <div class="caja">
        <div class="box">
          <img src="{{ b.avatar.url }}" alt="Avatar" />
        </div>
      </div>

      {% endif %}
      <div class="contenido-employees">
        <h3 class="text-center">{{ b.name }}</h3>
        <p class="text-center">{{ b.lastname }}</p>
        <p class="text-center">{{ b.creation_date}}</p>
        <p class="text-center">
            {% for c in b.department.all %}
            {{ c.name }}
            {% endfor %}
        </p>

        <a class="btn btn-light" href="{% url 'employee_detail' b.id %}">
          View More
        </a>
        {% if request.user.is_staff %}
        <div class="d-flex justify-content-center">
          <a class="btn btn-warning m-2" href="{% url 'employee_edit' b.id %}">
            <i class="bi bi-pencil-square"></i>
          </a>
          <a
            class="btn btn-danger m-2"
            href="{% url 'employee_deleted' b.id %}"
          >
            <i class="bi bi-trash"></i>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</main>

{% endblock %}
